.container{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.imageContainer{
    margin: 0px;
    padding: 0px;
    background-color: bisque;
    width: 100%;
    height: 100%;
}

.imageContainer img{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.TabsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right:10%;
    bottom: 42px;
    width: 80%;
    
}
.Tabs{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255);
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

