.MainContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.MainContainerHeader{
    width: 100%;
    height: 350px;
    background-color: brown;

}
.MainContainerFooter{
    width: 80.1%;
    height: 200px;
    background-color: white;
    margin-top: 0px;
    box-shadow: 1px 1px 3px gray;
    /* border: 0.5px solid rgb(180, 180, 180); */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

@media screen and (max-width: 500px) {
    .MainContainerFooter{
        height: auto;
    }
  }

